 /* mobile only */
 @media (max-width: 640px) {
     .gallery {
         width: fit-content;
     }

     .main-layout {
         display: block;
     }

     .search-tags {
         width: 100%;
         display: flex;
         justify-content: space-around;
     }

     .main-header {
         width: 100%;
         justify-content: center;

     }

     .categories {
         margin: 10px;
     }

     .main-nev {
         justify-content: center;
         position: fixed;
         background-color: #000;
         left: 0;
         width: 100%;
         top: 60px;
         display: none;
         grid-template-rows: 0fr;
         overflow: hidden;
         transition: grid-template-rows 1s;
         align-items: end;
         margin: 0;
     }

     li {
         margin: 0;
         display: flex;
         flex-direction: column;
     }

     .links{
        flex-direction: row;
     }
     .header-button {
         color: white;
     }

     .search-box input {
         width: 300px;
         height: 25px;
     }

     canvas {
         display: block;
         width: -webkit-fill-available;
     }

     .meme-editor {
         display: none;
     }

     .meme-editor.show {
         padding: 0;
         display: block !important;
     }

     .tools {
         display: contents;
     }

     .search-box {
         height: auto;
     }

     .search-tags {
         margin: 10px;
     }

     .tag-container {
         margin: 10px;
     }
 }

 .btn-toggle-menu {
     display: flex;
 }

 /* small */
 @media (min-width: 670px) {
     .gallery {
         grid-template-columns: repeat(2, 1fr);
     }


     .search-box {
         height: 70px;
     }

     .filter-btn {
         width: 50px;
     }

     .main-header {
         grid-column: 1/-1;
     }

     .search-tags {
         width: 100%;
         display: flex;
         justify-content: space-around;
     }

     .filter-search {
         height: 50%;
     }

     .main-nev {
         justify-content: center;
         position: fixed;
         background-color: #000;
         left: 0;
         width: 100%;
         top: 60px;
         display: none;
         grid-template-rows: 0fr;
         overflow: hidden;
         transition: grid-template-rows 1s;
         align-items: end;
         margin: 0;
     }

 }

 /* medium */
 @media (min-width: 920px) {
     .gallery {
         grid-template-columns: repeat(3, 1fr);
     }

     .search-box {
         height: 90px;
         flex-direction: row;
     }

     .filter-btn {
         width: 100px;
     }

     .meme-editor {
         grid-template-columns: 1fr 1fr;
     }

     canvas {
         grid-column: 1/2;
     }

     .tools {
         grid-column: 2/3;
     }

     .search-tags {
         width: 100%;
         display: flex;
         justify-content: end;
     }

     .meme-editor {
         height: 0%;
     }

     .btn-toggle-menu {
         display: none !important;
     }

     .main-nev {
         display: grid;
         position: static;
         background-color: transparent;
         justify-content: end;
     }

     a {
         padding: 20px
     }

     .main-nev {
         margin-top: 20px
     }



 }

 /* large */
 @media (min-width: 1200px) {
     .gallery {
         grid-template-columns: repeat(4, 1fr);
     }

     .main-layout {
         grid-template-columns: minmax(20px, 1fr) minmax(1200px, 1fr) minmax(20px, 1fr);
     }

     .search-box {
         flex-direction: row;
     }

     .meme-editor {
         grid-template-columns: repeat(4, 1fr);
     }

     canvas {
         grid-column: 2/3;
     }

     .tools {
         grid-column: 3/4;
     }

     .search-tags {
         width: 100%;
         display: flex;
         justify-content: end;
     }

     .btn-toggle-menu {
         display: none !important;
     }

     .meme-editor {
         height: 100%;
         padding: 20px;
     }

     .main-nev {
         display: grid;
     }
 }