@font-face {
    font-family: impact;
    src: url(./fonts/impact/impact.ttf) format(truetype)
}

@font-face {
    font-family: comic-sans;
    src: url(./fonts/comic-sans-ms-font-family/COMIC.TTF) format(truetype)
}

@font-face {
    font-family: anton;
    src: url(./fonts/Anton/Anton-Regular.ttf)format(truetype)
}

@font-face {
    font-family: roboto; 
    src: url(./fonts/Roboto/Roboto-Bold.ttf)format(truetype)
}
@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf)format(truetype)
}

