.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
    background-color: var(--clr-main-gallery);
    padding-top: 40px;
    padding-bottom: 40px;

}

.gallery img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    max-width: 100%;

}

.gallery-grid img:hover {
    transform: scale(1.04)
}

.main-gallery {
    background-color: var(--clr-main-gallery);

}

.gallery-container {
    background-color: var(--clr-main-gallery);
}

