.search-box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    max-height: max-content;
    align-items: center;
    margin: 10px;
}

.filter-search {
    height: 2em;
    border: solid white;
    border-bottom: 2px solid black;
}

.filter-btn {
    border: solid white;
    background-color: transparent;
    font-size: 20px;
    width: 100px;
}

.search-box input {
    width: 170px;
}

.flexible-btn {
    border-radius: 1em;
    border: solid transparent;
    background-color: #a1bfff;
    color: white;
    padding: 10px;
}
.flexible-btn:hover{
    transform: scale(1.04)

}