.main-layout{
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    margin: auto;
}

.main-header{
    height: 69px;
    background-color: var(--clr-main-color);
}
.main-layout>*.full  {
    grid-column: 1 / -1;
}
.main-layout>*:not(.full) {
    grid-column: 2;
}


